<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <header class="back-cyan whiteFont">
    <div class="header-left">
      <div class="logo-section">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Code.svg/1200px-Code.svg.png" alt="Smiley face" height="40">       <div class="logo-text"> Code-tech </div>
      </div>  
    </div>
    <div class="header-right">
    <nav role="navigation">
     <ul>
        <li>Home</li>
        <li>Blog</li>
        <li>Contact</li>
     </ul>
    </nav>
    </div>  
  </header>
  
  <main role="main">
     <article class="back-yellow">
     <h2>MongoDB</h2>  
     <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/375px-MongoDB-Logo.svg.png" alt="Smiley face" height="60">   
     <div class="article-description">
       <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schema. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License (SSPL).</p>    </div>
     </article>  
    
     <article class="back-cyanLight">
     <h2>Vue.js</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/330px-Vue.js_Logo_2.svg.png" alt="Vue.js logo" height="60">   
     <div class="article-description">
       <p>Vue.js (commonly referred to as Vue; pronounced /vjuː/, like "view"]) is an open-source Model–view–viewmodel JavaScript framework for building user interfaces and single-page applications. It was created by Evan You, and is maintained by him and the rest of the active core team members coming from various companies such as Netlify and Netguru.</p> 
      </div>
     </article>
    
     <article class="back-yellowLight">
     <h2>Node.js</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/330px-Node.js_logo.svg.png" alt="Vue.js logo" height="60"> 
     <div class="article-description">  
       <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js represents a "JavaScript everywhere" paradigm, unifying web-application development around a single programming language, rather than different languages for server- and client-side scripts.
         </p>
       </div>
     </article> 
    
     <article class="back-red">
     <h2>npm</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/330px-Npm-logo.svg.png" alt="Vue.js logo" height="60">  
     <div class="article-description">  
       <p>npm (originally short for Node Package Manager) is a package manager for the JavaScript programming language. It is the default package manager for the JavaScript runtime environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for private packages, called the npm registry. The registry is accessed via the client, and the available packages can be browsed and searched via the npm website. The package manager and the registry are managed by npm, Inc. npm is written entirely in JavaScript and was developed by Isaac Z. Schlueter as a result of having "seen module packaging done terribly" and with inspiration from other similar projects such as PEAR (PHP) and CPAN (Perl).</p>  
      </div> 
     </article>
    
     <article class="back-yellow">
     <h2>React.js</h2>  
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/330px-React-icon.svg.png" alt="Vue.js logo" height="60">   
      <div class="article-description"> 
       <p>React (also known as React.js or ReactJS) is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications. However, React is only concerned with rendering data to the DOM, and so creating React applications usually requires the use of additional libraries for state management and routing. Redux and React Router are respective examples of such libraries.</p>  
       </div>
     </article>
    
     <article class="back-redLight">
     <h2>Angular.js</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/330px-AngularJS_logo.svg.png" alt="Vue.js logo" height="60"> 
      <div class="article-description"> 
       <p>AngularJS is a JavaScript-based open-source front-end web framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications.</p> 
      </div>  
     </article> 
    
     <article class="back-red">
     <h2>Django</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/278px-Django_logo.svg.png" alt="Django logo" height="60">   
     <div class="article-description">
       <p>
  Django (/ˈdʒæŋɡoʊ/ JANG-goh; stylised as django) is a Python-based free and open-source web framework, which follows the model-template-view (MTV) architectural pattern. It is maintained by the Django Software Foundation (DSF), an independent organization established as a 501(c)(3) non-profit. Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings files and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.
       </p> 
      </div>
     </article>
  
  
     <article class="back-yellow">
     <h2>WordPress</h2>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WordPress_logo.svg/360px-WordPress_logo.svg.png" alt="Wordpress logo" height="60">   
     <div class="article-description">
       <p>
  WordPress (WordPress.org) is a free and open-source content management system (CMS) written in PHP and paired with a MySQL or MariaDB database. Features include a plugin architecture and a template system, referred to within WordPress as Themes. WordPress was originally created as a blog-publishing system but has evolved to support other types of web content including more traditional mailing lists and forums, media galleries, membership sites, learning management systems (LMS) and online stores. WordPress is used by more than 60 million websites, including 33.6% of the top 10 million websites as of April 2019, WordPress is one of the most popular content management system solutions in use. WordPress has also been used for other application domains such as pervasive display systems (PDS).
       </p> 
      </div>
     </article>
    
  </main>
  
  <footer role="contentinfo" class="back-blueLight whiteFont"><p>
  <span>Vytvořila <strong>Zuzka </strong> 2020, les - pro CzechITas s &nbsp; <span style="color: #72e085;"> ♥ </span></p>
  </footer>
</body>
</html>